@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191B20;
}
.header {
    background-color: #141517;
    color: white;
    font-family: 'Inria Sans';
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100px;
}
.headerInsideContainer {
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headerTitle {
    font-size: 36px;
    line-height: 43.16px;
}
.be {
    color: red;
}
.headerNav {
    line-height: 16.79px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.headerNav a {
    padding-right: 29px;
}
a {
    text-decoration: none;
    color: white;
}
.mainPage {
    background-color: #191B20;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchField {
    margin-top: 73px;
    height: 44px;
    margin-bottom: 73px;
}
.searchField input {
    width: (272-44)px;
    height: 44px;
    border-radius: 8px 0 0 8px;
    line-height: 19.36px;
    font-family: 'Inter';
    color: black;
    padding-left: 18px;
}
.searchField a {
    background-color: #CC0000;
    color: white;
    border-radius: 0 8px 8px 0;
    padding: 13px;
    margin-left: -4px;
}
.textResults, .textReleases{
    font-family: 'Inter';
    font-weight: 400;
    line-height: 19.36px;
    color: white;
    margin-bottom: 10px;
}
.movies, .latestReleases, .genresMovies{
    height: 351px;
    margin-bottom: 95px;
}
.movies img, .latestReleases img, .genresMovies img {
    height: 100%;
    margin-right: 19px;
}
.movies img:last-child,
.latestReleases img:last-child,
.genresMovies img:last-child {
    margin-right: 0;
}
.movies img :hover {
    
}
.genresContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.genresTitle, .genresSubtitle{
    font-family: 'Inter';
    font-weight: 400;
    line-height: 19.36px;
    color: white;
    margin-bottom: 46px;
}
.genres a {
    margin-right: 45px;
    margin-bottom: 26px;
}
.genres a:hover, .genres a:visited {
    background-color: #CC0000;
    border-radius: 8px;
    padding: 7px;
    margin-right: 31px;
}
.genres a:last-child {
    margin-right: 0;
}
.genresLine {
    background-color: white;
    height: 1px;
    width: 100%;
    margin-bottom: 29px;
    margin-top: 26px;
}
.genresSubtitle {
    margin-bottom: 10px;
    color: white;
}
.genresSubtitleContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
}
.footer {
    
    display: flex;
    width: 1080px;
    font-family: 'Inria Sans';
    font-weight: 700;
    text-transform: capitalize;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.footerTitle {
    line-height: 43.16px;
    color: white;
    font-size: 36px;
    margin-top: 72px;
    margin-bottom: 72px;
}
.footerNav a{
    margin-right: 29px;
}
.copyright {
    color: #B8B8B8;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inria Sans';
}
.footerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #141517;
}
.registerContainer {
    /* the display needs to be toggled in order to make the login form appear */
    visibility: collapse;

    width: 410px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 61px;
    padding-right: 61px;
}
.signup {
    margin-top: 60px;
    margin-bottom: 64px;
    /* border: 2px solid white; */
    border-radius: 8px;
}
.signup button{
    text-decoration: none;
    color: white;
    font-family: 'Inria Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 28.78px;
    height: 100%;
    width: auto;
}
.signButton {
    background-color: black;
    border-radius: 8px 0 0 8px;
    padding: 12px;
    padding-left: 32px;
    padding-right: 26px;

    border: 2px solid white;
    border-right: hidden;
}
.loginButton {
    border-radius: 0 8px 8px 0;
    background-color: #CC0000;
    padding: 12px;
    padding-left: 26px;
    padding-right: 32px;
    border: none;
}
.username,
.password {
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 10px;
    width: 100%;
}
.stayConnected {
    color: white;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 400;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 46px;
}
.stayConnected input {
    height: 18px;
    width: 18px;
    margin-right: 9px;
}
.trueLogin {
    height: 47px;
    font-size: 24px;
    color: white;
    background-color: #CC0000;
    border-radius: 8px;
    font-family: 'Inria Sans';
    font-weight: 700;
    border: none;
    width: 100%;
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
}
.passwordForgotten {
    width: 100%;
    margin-bottom: 19px;
}
.passwordForgotten a{
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 19.36px;
    color: #CC0000;
}
.membership {
    color: white;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Inter';
    font-weight: 400;
    line-height: 19.36px;
    margin-bottom: 100px;
}
.mmSign {
    color: #CC0000;
}